#/build
/out
/target
/.gradle
/.idea
/.vscode
/.DS_Store

*.iml
*.log
*.tmp
*.swp

.gradle
!gradle/wrapper/gradle-wrapper.jar

**/node_modules
**/.env
**/.env.*
**/secrets

*.class
*.jar
*.war
*.ear
*.db
*.sqlite

**/*~
**/#*#
**/.#*
**/.sass-cache
**/.project
**/.settings
**/.classpath
**/.metadata
**/.svn
**/.hg
**/.git
**/.gitignore
**/.gitmodules
**/.editorconfig

Dockerfile
docker-compose.yml